/* style.css */
html, body, div, h1, p, a, video {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.5;
}

.content {
  position: relative;
  top: 30%;
  z-index: 2;
  margin: 0 auto;
  max-width: 980px;
  text-align: center;
}

.content__title {
  margin-bottom: 24px;
  color: #272727;
  font-size: 44px;
}

.content__contents {
  margin-bottom: 24px;
  color: #595959;
  font-size: 22px;
}

.content__button {
  display: inline-block;
  margin: 0;
  padding: 12px 48px;
  color: #f39938;
  font-size: 22px;
  text-decoration: none;
  border: solid 4px #f39938;
}

.video {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  overflow: hidden;
  
  -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-filter: blur(15px);
     -moz-filter: blur(15px);
      -ms-filter: blur(15px);
       -o-filter: blur(15px);
          filter: blur(15px);
    
}